.gameBox {
    /* background-color: red; */
    width: 300px;
    display: inline-block;
    padding: 12px;
    border: 1px solid red;
    border-radius: 10%;
    object-fit: contain;
    text-align: center;
    padding-bottom: 3rem;
}

.selectedEmoji {
    font-size:60px;
}

.mainEmojiText {
    margin-top: -12px; 
    font-size: small;
}

.allEmojis {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    /* gap: 8px; */
    font-size: 34px;
    /* background-color: aqua; */
    /* margin-left: -2rem; */
    /* margin-top: -1rem; */
    text-align: center;
}

.resetButton {
    display: block;
    cursor: pointer;
    background-color: lavenderblush;
    padding: 3px;
    border-radius: 5px;
    margin-top: 1rem;
    }