.labelDiv {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
}


.textRed {
    color: red
}

.textGreen {
    color: green;
}

.inputDiv {
    display: flex;
    justify-content: flex-start;
    gap: 3rem
}